<div class="page-header">
  <h1>Todo#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= todosPath() %>" class="btn btn-info">Back to all Todos</a></li>
  <li class="list-inline-item"><a href="<%= editTodoPath({ todo_id: todo.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= todoPath({ todo_id: todo.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= todo.Name %>
</p>
<p>
  <strong>Description</strong>: <%= todo.Description %>
</p>
